# LaTex Files
*.synctex.gz
*.toc
*.aux
*.out
*.log
*.bak
~$*
*.tmp
Functional_Requirements/*.synctex.gz
Functional_Requirements/*.aux
Functional_Requirements/*.log
Functional_Requirements/*.out
Functional_Requirements/*.bak
Functional_Requirements/*.toc
Functional_Requirements/*.tmp
Functional_Requirements/Graphics/Thumbs.db


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.db


# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
Core Implementation/public/dist/formbuilder.css
Core Implementation/public/dist/formbuilder.js
Core Implementation/public/vendor/css/vendor.css
Core Implementation/public/vendor/fonts/fontawesome-webfont.svg
Core Implementation/public/vendor/js/vendor.js