extends layout
block content
	div.container-fluid
		img.logo(src='images/KPTH_Logo.png').img-rounded.img-responsive.center-block

	br
	br
	div.container-fluid
		form.form-group.col-xs-6.form-centered(name="addNewUser", method="post")
				input.form-control.biggerheight.adduserinput(type="text", name="username",placeholder="Username")
				br
				br
				input.form-control.biggerheight.adduserinput(type="text", name="firstName",placeholder="First Name")
				br
				br
				input.form-control.biggerheight.adduserinput(type="text", name="lastName",placeholder="Last Name")
				br
				br
				input.btn.btn-info.biggerheight(type="submit", value="Add New User")
				
