//
   Created by Ruth on 2015-07-16.
extends layout

script.
    var checkform = function(){
        var sendTo = !{JSON.stringify(pageErrors)};
        if (sendTo) {
            console.log("Error");
            $("#errordiv").text(sendTo).show();
            return false;
        }
        window.location.replace("/sendNotification");
        return true;
        //e.preventDefault();
    }
    $("#searchPatient").on("submit",function (e) {
        e.preventDefault();
        var sendTo = !{JSON.stringify(send)};
        if (!sendTo) {
            console.log("Error");
            //$("#errordiv").text(sendTo).show();
        }

    });





block content
    div.top(id="banner")
        img#kalaLogo(src='images/KPTH_Logo.png').img-circle.img-responsive.center-block
        h1#logoHeading Kalafong PIMS
    //2= "Please enter the id of the patient that you wish to search for"
    br
    br
    div.container-fluid
        div.row
            div.col-xs-6
                form.form-group.col-xs-6.form-centered(name="searchPatient", id="searchPatient", method="post", action="/sendNotification")
                    label(for="searchP") Enter the ID of the patient:
                    input.form-control.patientinput(type="text", id="patientid", name="patientid", value="", placeholder="Patient ID / NAME", required)
                    br
                    input.btn.btn-primary.btn-block(type="submit", value="Search", tabindex="5")

            div.col-xs-6.col-xs-offset-3#errordiv
                if (!send)
                    .alert.alert-danger
                        p= message

                 //#{pageErrors}
                //send email here
                //input.btn.btn-info.btn-block(type="submit", value="Search", tabindex="5")







            //, action="/sendNotification"

