extends layout
block content
	div.container-fluid
		img.logo(src='images/KPTH_Logo.png').img-rounded.img-responsive.center-block

	br
	br
	div.container-fluid
		form
		#res.alert
		script(type='text/javascript').
			$('form').jsonForm({
			schema: {
			procedureDate: {
			type: 'string',
			title: 'Date'
			},
			HospitalNumber: {
			type: 'number',
			title: 'Hospital Number'
			},
			Age: {
			type: 'number',
			title: 'Age'
			},
			Name: {
			type: 'string',
			title: 'Name'
			},
			Surname: {
			type: 'string',
			title: 'Surname'
			},
			HospitalNumber: {
			type: 'number',
			title: 'Hospital Number'
			},
			"unknownField": {
			"type": "checkboxes",
			"title": "Options",
			"items": {
			"type": "string",
			"title": "Option",
			"enum": [
			"P",
			"G",
			"M",
			"E"
			]
			}
			},
			"HIVStatus": {
			"type": "string",
			"title": "HIV Status",
			"enum": [ "Negative", "Positive", "Unknown" ]
			},
			"CD4": {
			"type": "integer",
			"title": "CD4"
			},
			"ProcedureType": {
			"type": "string",
			"title": "Procedure Type",
			"enum": [
			"",
			"Elective",
			"Emergency"
			]
			},
			"Firm": {
			"type": "string",
			"title": "Firm",
			"enum": [
			"",
			"G1",
			"G2",
			"G3",
			"ONC"
			]
			},
			"ProcedureCat": {
			"type": "string",
			"title": "Procedure Catagory",
			"enum": [
			"",
			"Oncology",
			"General Gynaecology",
			"Infertility",
			"Urogynaecology",
			"Open abdomen",
			"Endoscopy",
			"Vaginal"
			]
			},
			"Type of Access": {
			"type": "string",
			"title": "Type of Access",
			"enum": [
			"",
			"Open abdomen",
			"Endoscopy",
			"Vaginal"
			]
			},
			"PerfBy": {
			"type": "string",
			"title": "Performed primarlily by",
			"enum": [
			"",
			"Consultant",
			"Fellow",
			"Registerar",
			"Intern"
			]
			},
			" PreOperCodes": {
			"type": "array",
			"title": "Pre-Operative Diagnosis ICD Codes:",
			"items": {
			"type": "string",
			}
			},
			DigIfNot: {
			type: 'string',
			title: 'Diagnosis if not on ICD 10 list'
			},
			"ProcPrefCodes": {
			"type": "array",
			"title": " Procedure(s) Performed(Codes) :",
			"items": {
			"type": "string",
			}
			},
			"IOcomplications": {
			"type": "string",
			"title": "Intra-operative complications",
			"enum": [
			"None",
			"Bladder injury",
			"Bowel injury",
			"Bleeding requiring unplanned blood transfusion",
			"Procedure not completed"
			]
			},
			"other": {
			"type": "textarea",
			"title": "Other"
			},
			}
			});