extends layout
block content
    nav.navbar.navbar-findcond.navbar-fixed-top
        .container-fluid
            .navbar-header
                a.nav.navbar-brand(href='#')
                    img(alt="Kalafong PIMS" src="/images/newlogo.png")
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
                    div
                        span.sr-only Toggle navigation
                        span.glyphicon.glyphicon-align-justify(style="color:#004B8F")
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-left
                    li.active
                        a(href="/myAdminSpace") Home
                    li.has-sub#usersub
                        a(href='#' role='button') Users
                    li.sub.usersub
                        a(href='/addUser') Add User
                    li.sub.usersub
                        a(href='#') Remove User
                    li#formtab.has-sub
                        a(href='') Forms
                    li.sub.formtab
                        a(href="") Add form
                    li.dropdown.sub.formtab
                        a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Forms
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='/gynae_surgery.html', tabindex='-1') Gynaecology Surgery
                            li
                                a(href='/addmission_discharge.html', tabindex='-1') Gynaecology Admission and Discharge
                            li
                                a(href='/#', tabindex='-1') Office Hysteroscopy
                            li
                                a(href='#', tabindex='-1') Data Form
                            li
                                a(href='cervical_cancer.html', tabindex='-1') Cervical Cancer
                                a(href='endometrial_cancer.html', tabindex='-1') Endomentrial Cancer
                                a(href='#', tabindex='-1') Fallopian Tube Cancer
                                a(href='#', tabindex='-1') Follow-Up
                                a(href='#', tabindex='-1') Gestational Trophoblastic Disease
                                a(href='#', tabindex='-1') Ovarian Cancer
                                a(href='#', tabindex='-1') Vaginal Cancer
                                a(href='#', tabindex='-1') Vulva Cancer
                    li#statisticstab
                        a(href='/stats') Statistics
                    li#Predict
                        a(Href='#') Predict
                ul.nav.navbar-nav.navbar-right
                    li.nobar.has-sub#settings
                        a(href='#')
                            img(alt="Settings" src='/images/settings.png' height="40px")
                    li.sub.settings
                        a(href="/editProfile") Edit Profile
                    li.sub.settings
                        a(href="/logout") Logout
                form.navbar-form.navbar-right.search-form(role='search')
                    input.form-control(type='text', placeholder='Search')
    div.content
        block mainContent
