extends layout
block content
    div#sidebar
        div#sidebar-nav
            div.sidebar-avatar
                img(src='images/Logo-noText.png' width="60px").img-circle.img-responsive.center-block
            div.sidebar-links
                ul.nav.nav-stacked.navTab
                    li
                        a(href="/addUser") Add User
                    li
                        a(href="/gynae_surgery.html") Form Select
                    li
                        a(href='/form') Form Builder
                    li
                        a(href='/findPatient') Send Notification
                    li
                        a(href='stats') Statistics
                    li
                        a(href='/') Logout
            div.sidebar-settings
                ul.nav.nav-stacked
                    li
                        a(class='settingsbutton', href='/editProfile')
                            img(src= "images/settings.png" width="40px").img-responsive.center-block
    div.content
        block contentRight
