extends layout
block content
    div#sidebar
        div#sidebar-nav
            div.sidebar-avatar
                img(src='images/physician_avatar.png' width="100px").img-circle.img-responsive.center-block
                p.sidebartext   Department of Obstetrics and Gynaecology
            div.sidebar-links
                ul.nav.nav-stacked.navTab
                    li
                        a(href="/") Home
                    li
                        a(href="/add") Add User
                    li
                        a(href="/") Form Select
                    li
                        a(href='/form') Form Builder
                    li
                        a(href='stats') Statistics
                    li
                        a(href='/') Logout
            div.sidebar-settings
                ul.nav.nav-stacked
                    li
<<<<<<< HEAD
                        img(src= "images/settings.png" width="40px").img-responsive.center-block
                    li 
                        a(class='settingsbutton', href='/editProfile') Settings
    div.content
=======
                        img(src="images/settings.png" width="50px").img-responsive.center-block
                    li v0.1
    div.content
>>>>>>> bfa7a37abd30a6831de1c3b41e6aac1bc847a002
