extends layout
block content
    div#sidebar
        div#sidebar-nav
            div.sidebar-avatar
                img(src='images/physician_avatar.png' width="100px").img-circle.img-responsive.center-block
                p.sidebartext   Department of Obstetrics and Gynaecology
            div.sidebar-links
                ul.nav.nav-stacked.navTab
                    li
                        a(href="/addUser") Add User
                    li
                        a(href="/viewForms") Form Select
                    li
                        a(href='/form') Form Builder
                    li
                        a(href='/findPatient') Send Notification
                    li
                        a(href='stats') Statistics
                    li
                        a(href='/') Logout
            div.sidebar-settings
                ul.nav.nav-stacked
                    li
                        img(src= "images/settings.png" width="40px").img-responsive.center-block
                    li 
                        a(class='settingsbutton', href='/editProfile') Settings
    div.content
        block contentRight
