extends layout
block content
    nav.navbar.navbar-findcond.navbar-fixed-top
        .container-fluid
            .navbar-header
                a.nav.navbar-brand(href='#')
                    img(alt="Kalafong PIMS" src="/images/newlogo.png")
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
                    div
                        span.sr-only Toggle navigation
                        span.glyphicon.glyphicon-align-justify(style="color:#004B8F")
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-left
                    li.active
                        a(href="/myAdminSpace") Home
                    li.has-sub#usersub
                        a(href='#' role='button') Users
                    li.sub.usersub
                        a(href='/addUser') Add User
                    li.sub.usersub
                        a(href='#') Remove User
                    li#formtab.has-sub
                        a(href='') Forms
                    li.sub.formtab
                        a(href="") Add form
                    li#statisticstab
                        a(href='/stats') Statistics
                ul.nav.navbar-nav.navbar-right
                    li.nobar.has-sub#settings
                        a(href='#')
                            img(alt="Settings" src='/images/settings.png' height="40px")
                    li.sub.settings
                        a(href="/editProfile") Edit Profile
                    li.sub.settings
                        a(href="/logout") Logout
                form.navbar-form.navbar-right.search-form(role='search')
                    input.form-control(type='text', placeholder='Search')
    div.content
        block mainContent
