doctype html
html
    head
        title= title
        link(rel="icon", type="image/png", href="/images/favicon.png")
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/jqueryUI/jquery-ui.min.css')
        link(rel='stylesheet', href='/stylesheets/jqueryUI/jquery-ui.structure.min.css')
        link(rel='stylesheet', href='/stylesheets/jqueryUI/jquery-ui.theme.min.css')
        script(src='/javascripts/jquery-1.11.2.min.js')
        script(src='/javascripts/jqueryUI/jquery-ui.min.js')
        script(src='/javascripts/bootstrap.min.js')
        //script(src='/javascripts/npm.js')
        script(src='/javascripts/jsonform.js')
        script(src='/javascripts/jsv.js')
        script(src='/javascripts/underscore.js')
        script(src='/javascripts/navbar.js')
        block extFiles
    body
        block content