//
   Created by Ruth on 2015-06-27.
extends layout
block content
    div.
        img#kalaLogo(src='images/KPTH_Logo.png').img-circle.img-responsive.center-block
        h1#logoHeading Kalafong PIMS

    div.container
        br
        br
        div.formContent
            form.loginForm(method="post", id="loginForm")
                input.username(id="userid", type="text", name="userid", value="a", placeholder="User ID", autofocus)
                br
                br
                input.password(id="pswd", type="password", name="pswd", value="g", placeholder="Password")
                br
                br
                input.loginBtn(type="submit", value="Log In")

    div.footer
        a.loginHome(href='/') Home
        a.loginHelp(href='#') Help
