extends layout
block extFiles
    link(rel="stylesheet", href="/stylesheets/login.css")
    script(src='https://www.google.com/recaptcha/api.js')
    script.
        function recaptchaCallback() {
            $('#btn-login').removeAttr('disabled');
        };
        $("#warningdiv").fadeTo(2000, 500).slideUp(500, function () {
            $("#warningdiv").alert('close');
        });
block content
    div.jumbotron.center.banner
        div.inner
            img(src='images/newlogo.png', width="350px").img-responsive.center-block
    section#login
        div.container-fluid
            div.row
                div.col-xs-4.col-xs-offset-4#warningdiv
                    .alert.alert-info.fadein
                        button.close(data-dismiss="alert", type="button") x
                        p= "Please check the recaptcha box before logging in"
                div.col-xs-4.col-xs-offset-4#errordiv
                    if (!send)
                        .alert.alert-danger
                            button.close(data-dismiss="alert", type="button") x
                            p= message
                div.col-xs-12
                    div.form-wrap.panel
                        h1 Login with your username
                        form(role="form", method="post", autocomplete="off", name="loginform", id="loginform", action="/login")
                            div.form-group
                                input.form-control#username(type="text", placeholder="Username", name="username", autofocus)
                            div.form-group
                                input.form-control#password(type="password", placeholder="Password", name="password")
                            input.btn.btn-custom.btn-lg.btn-block#btn-login(type="submit", value="Log In" disabled)
                            div.g-recaptcha(data-callback="recaptchaCallback" data-sitekey="6Lc9mAsTAAAAADbZqkl2r7pEenxsAccFzN540Anm")
                        a.forget Forgot your password?
    footer.text-center.center-block
        h2 Back to&nbsp;
        a(href="/splash") Home