extends index
block extFiles
    script(src='javascripts/loginPassword.js')
    script.
        function myFunction() {
            window.location.href = "/myAdminSpace";
        };
    link(rel="stylesheet", href="/stylesheets/UserDynamicStyles.css")
block mainContent
    div.container-fluid
        div.row
            div.col-xs-4.col-xs-offset-4
                .alert.alert-info.fadein
                br
                br
                h1 My Incomplete Forms
                br
                br
                p= "You have no Incomplete Forms"
                    input.btn.btn-custom.btn-lg.btn-block#spacePage(type="submit", value="Back to PIMS Space" onclick="myFunction()")
                br
                br
    footer.text-center.center-block
        h2 Back to&nbsp;
        a(href="/splash") Home