include ./stats.jade
block content
	div#contain
		h1#logoHeading Procedure Statistics
						br
						br
		form(name='htmlform', method='post')
			table(width='450px')
				tr
					td(valign='top')
						label(for='first_name') Criteria
					|  
					td(valign='top')
						input(type='text', name='first_name', maxlength='50', size='25')
						br
						br
				tr
					td(valign='top')
						label(for='last_name') From:
					td(valign='top')
						select
							option(value='day') day
							option(value='01') 01
							option(value='02') 02
							option(value='03') 03
							option(value='04') 04
							option(value='05') 05
							option(value='06') 06
							option(value='07') 07
							option(value='08') 08
							option(value='09') 09
							option(value='10') 10
							option(value='11') 11
							option(value='12') 12
							option(value='13') 13
							option(value='14') 14
							option(value='15') 15
							option(value='16') 16
							option(value='17') 17
							option(value='18') 18
							option(value='19') 19
							option(value='20') 20
							option(value='21') 21
							option(value='22') 22
							option(value='23') 23
							option(value='24') 24
							option(value='25') 25
							option(value='26') 26
							option(value='27') 27
							option(value='28') 28
							option(value='29') 29
							option(value='30') 30
							option(value='31') 31
						select
							option(value='month') month
							option(value='jan') Jan
							option(value='feb') Feb 
							option(value='march') Mar 
							option(value='april') Apr
							option(value='may') May
							option(value='june') Jun  
							option(value='july') Jul
							option(value='agust') Aug
							option(value='sept') Sep
							option(value='oct') Oct
							option(value='nov') Nov
							option(value='dec') Dec
						select
							option(value='year') year
							option(value='2020') 2020  
							option(value='2019') 2019 
							option(value='2018') 2018  
							option(value='2017') 2017
							option(value='2016') 2016 
							option(value='2015') 2015  
							option(value='2014') 2014   
							option(value='2013') 2013 
							option(value='2012') 2012  
							option(value='2011') 1011  
							option(value='2010') 2010
							option(value='2009') 2009 
							option(value='2008') 2007 
							option(value='2007') 2007 
							option(value='2006') 2006 
							option(value='2005') 2005
							option(value='2004') 2004  
							option(value='2003') 2003
							option(value='2002') 2002  
							option(value='2001') 2001
							option(value='2000') 2000
					td(valign='top')
						label(for='last_name') To:
					td(valign='top')
						select
							option(value='day') day
							option(value='01') 01
							option(value='02') 02
							option(value='03') 03
							option(value='04') 04
							option(value='05') 05
							option(value='06') 06
							option(value='07') 07
							option(value='08') 08
							option(value='09') 09
							option(value='10') 10
							option(value='11') 11
							option(value='12') 12
							option(value='13') 13
							option(value='14') 14
							option(value='15') 15
							option(value='16') 16
							option(value='17') 17
							option(value='18') 18
							option(value='19') 19
							option(value='20') 20
							option(value='21') 21
							option(value='22') 22
							option(value='23') 23
							option(value='24') 24
							option(value='25') 25
							option(value='26') 26
							option(value='27') 27
							option(value='28') 28
							option(value='29') 29
							option(value='30') 30
							option(value='31') 31
						select
							option(value='month') month
							option(value='jan') Jan
							option(value='feb') Feb 
							option(value='march') Mar 
							option(value='april') Apr
							option(value='may') May
							option(value='june') Jun  
							option(value='july') Jul
							option(value='agust') Aug
							option(value='sept') Sep
							option(value='oct') Oct
							option(value='nov') Nov
							option(value='dec') Dec
						select
							option(value='year') year
							option(value='2020') 2020  
							option(value='2019') 2019 
							option(value='2018') 2018  
							option(value='2017') 2017
							option(value='2016') 2016 
							option(value='2015') 2015  
							option(value='2014') 2014   
							option(value='2013') 2013 
							option(value='2012') 2012  
							option(value='2011') 1011  
							option(value='2010') 2010
							option(value='2009') 2009 
							option(value='2008') 2007 
							option(value='2007') 2007 
							option(value='2006') 2006 
							option(value='2005') 2005
							option(value='2004') 2004  
							option(value='2003') 2003
							option(value='2002') 2002  
							option(value='2001') 2001
							option(value='2000') 2000
				tr
						br
					td(valign='top')
						input(type='submit', value='Submit')
						br
						br
		div#display
			Display Results
	div#contain
			table
				tr
					td(valign='top')
						input(type='submit', value='Print')  
					td(valign='top')
						input(type='submit', value='View Graphs')   
					td(valign='top')
						input(type='submit', value='Email Stats')
