//
   Created by Ruth on 2015-07-16.
extends layout
block content
    div.jumbotron.center-block.banner
        img#kalaLogo(src='images/KPTH_Logo.png', width="30%").img-responsive.center-block
    br
    br
    div.container-fluid
        div.row.span8.offset2
            div.col-xs-2
                div.form-wrap.panel
                    a.btn.btn-primary.btn-block(href="/editProfile")
                        span.glyphicon.glyphicon-step-backward
            div.col-xs-4#dateTimePicks
                div.form-wrap.panel
                    div.input-group.date(id='datetimepicker')
                        input.form-control(type="text", id="fillDate")
                        span.input-group-addon
                            span.glyphicon.glyphicon-calendar
                        script.
                            $(function () {
                                $('#datetimepicker').datetimepicker();
                            });

            div.col-xs-6
                div.form-wrap.panel
                    div.messaging
                    form.form-group.col-xs-6.form-centered(id="messagebox", name="messagebox", method="post")
                        label(for="message") Message:
                        textarea.form-control(rows="5", id="message", name="message", tabindex="5", placeholder="Write your message", required)
                        br
                        input.btn.btn-primary.btn-block(type="submit", value="Send Notification", id="sendNotify", tabindex="5")
    script.
        $("#datetimepicker").on("dp.change",function (e) {
            $('#message').val($("#fillDate").val());
        });

        $("#messagebox").on("submit",function (e) {
            e.preventDefault();
            var sendTo = !{JSON.stringify(send.found)};
            var rcptName = !{JSON.stringify(send.patient)};

            $.ajax({
                type: 'POST',
                url: '/sendEmail',
                data: JSON.stringify({forMailing: {recipient: sendTo, message: JSON.stringify($('#message').val()), name: rcptName}}),
                dataType: "json",
                contentType: "application/json"
            });
        });



