extends layout
block content
	div.jumbotron.center-block.banner
		img.logo(src='images/KPTH_Logo.png', width="550px").img-responsive.center-block
	div.container
		.dropdown
			a.btn.btn-info(href="#", data-toggle="dropdown").dropdown-toggle Forms
			ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
				li
					a(href='/gynae_surgery.html', tabindex='-1') Gynaecology Surgery
				li 
					a(href='/addmission_discharge.html', tabindex='-1') Gynaecology Admission and Discharge
				li.divider
				li
					a(href='#', tabindex='-1') Data Form
				
				li.divider
				li
					a(href='#', tabindex='-1') Cervical Cancer
					a(href='#', tabindex='-1') Endomentrial Cancer
					a(href='#', tabindex='-1') Fallopian Tube Cancer
					a(href='#', tabindex='-1') Follow-Up
					a(href='#', tabindex='-1') Gestational Trophoblastic Disease
					a(href='#', tabindex='-1') Ovarian Cancer
					a(href='#', tabindex='-1') Vaginal Cancer
					a(href='#', tabindex='-1') Vulva Cancer
					
		script.
			$('.dropdown-toggle').dropdown()