//
   Created by Ruth on 2015-07-03.
doctype html
html
block head
    head
        //title= FormBuilder
        meta(name='description' content="")
        block style
            link(rel='stylesheet', href='/vendor/css/vendor.css')
            link(rel='stylesheet', href='/dist/formbuilder.css')
            style.
                *
                {
                box-sizing: border-box;
                }
                body {
                    background-color: #fff;
                    font-family: sans-serif;
                }
                .fb-main {
                    background-color: #fff;
                    border-radius: 5px;
                    min-height: 600px;
                }
                input[type=text] {
                height: 26px;
                    margin-bottom: 3px;
                }
                select {
                    margin-bottom: 5px;
                    font-size: 40px;
                }

    body
        h2(id ='jsonresult')
        block content
            div#formbuilder
            block script
                  script(src='/vendor/js/vendor.js')
                  script(src='/dist/formbuilder.js')
                  script.
                      //var formbuilder = new Formbuilder({ selector: '#formbuilder' });
                      //var form = new Formbuilder({selector: '#formbuilder'});


                      $(function(){
                          //app.locals.fs = require('fs');
                          /*var mongoose = require('mongoose');
                          var generator = require('mongoose-gen');*/

                          var form = new Formbuilder({selector: '#formbuilder'});
                          //alert("Again!!!!!!!");

                          /*$(function () {
                              $('#search').on('keyup', function (e) {
                                  if (e.keyCode === 13) {
                                      var parameters = {search: $(this).val()};
                                      $.get('/searching', parameters, function (data) {
                                          $('#results').html(data);
                                      });
                                  }
                                  ;
                              });
                          });*/

                          form.on('save', function(payload){
                              alert(payload + "\n   Again!!!!!!!");
                              $.get('/form', function(payload){
                                  $('#jsonresult').html(payload);
                              })
                                    //console.log(payload);

                              /*var options = {
                                  host: 'localhost',
                                  port: '300',
                                  path: '/form',
                                  method: 'POST',
                                  headers:{
                                      'Content-Type': 'application/json',
                                      'Content-Length': payload.length
                                  }
                              };

                              var req = config.httpServer.request(options, function(res){
                                  //response
                              });
                              //request.write(JSON.stringify(some_json),encoding='utf8');
                              req.write(JSON.stringify(payload), encoding='utf8');
                              req.end();*/




                              console.log(JSON.stringify(payload, null, 4) + "   \n in jade file");
                              //config.form
                              //let's try sending the data through a form element so we can access it in index.js



                          })




                      });
