//
   Created by Ruth on 2015-07-03.
doctype html
html
block head
    head
        //title= FormBuilder
        meta(name='description' content="")
        block style
<<<<<<< HEAD
            link(rel='stylesheet', href='/FBPlugin/vendor.css')
            link(rel='stylesheet', href='/FBPlugin/formbuilder.css')
=======
            link(rel='stylesheet', href='/FBPlugin/vendor/css/vendor.css')
            link(rel='stylesheet', href='/FBPlugin/dist/formbuilder.css')
>>>>>>> 7dc0e9e311317fd0fa521f34fe7bd048e441a92c
            style.
                *
                {
                box-sizing: border-box;
                }
                body {
                    background-color: #444;
                    font-family: sans-serif;
                }
                .fb-main {
                    background-color: #fff;
                    border-radius: 5px;
                    min-height: 600px;
                }
                input[type=text] {
                height: 26px;
                    margin-bottom: 3px;
                }
                select {
                    margin-bottom: 5px;
                    font-size: 40px;
                }

    body
        block content
            div#formbuilder
            block script
<<<<<<< HEAD
                  script(src='/FBPlugin/vendor.js')
                  script(src='/FBPlugin/formbuilder.js')
=======
                  script(src='/FBPlugin/vendor/js/vendor.js')
                  script(src='/FBPlugin/dist/formbuilder.js')
>>>>>>> 7dc0e9e311317fd0fa521f34fe7bd048e441a92c
                  script.
                      //var formbuilder = new Formbuilder({ selector: '#formbuilder' });
                      //var form = new Formbuilder({selector: '#formbuilder'});
                      $(function(){
                          var form = new Formbuilder({selector: '#formbuilder'});
                          //alert("Again!!!!!!!");

                          form.on('save', function(payload){
                              alert(payload + "\n   Again!!!!!!!");
                                    console.log(payload);
                          })

                          var load = localStorage.getItem("Payload");
                          if(load)
                          {
                              console.log("In load \n ");
                              //var load = localStorage.getItem("Payload");
                              if (load) {
                                  alert("Again!!!!!!! \n" + load + " \n Hoorah!!");
                                  load = JSON.parse(load);
                                  console.log("Got it!! \n " + load);
                                  localStorage.removeItem('Payload');
                              }
                              else
                              {
                                  alert("Nooooooooooooooooooooooooooooooooooooo");
                                  console.log("Nooooooooooooooooooooooooooooooooooooo");
                              }
                          }


                      });

                      function load(load) {
                          console.log("In load \n ");
                          //var load = localStorage.getItem("Payload");
                          if (load) {
                              alert("Again!!!!!!! \n" + load + " \n Hoorah!!");
                              load = JSON.parse(load);
                              console.log("Got it!! \n " + load);
                              localStorage.removeItem('Payload');
                          }
                          else
                          {
                              alert("Nooooooooooooooooooooooooooooooooooooo");
                              console.log("Nooooooooooooooooooooooooooooooooooooo");
                          }
                      }