body{
    background-image: url("../images/background.gif");
    background-repeat: no-repeat;
    background-position: right 10% center;
    background-size: contain;
    background-color: white;

}
.banner{
    padding: 0.5%;
    background-color: #004B8F;
}

.inner{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: left;
}

.inner a{

}

.loginForm{
    background-color: white;
}

/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
div.container
{
    color: #f5f5f5;
    width: auto;
    height: 66%;
}

#login {
    padding-top: 1%;
}
#login .form-wrap {
    min-width: 320px;
    max-width: 600px;
    margin: 0 auto;
}
#login h1 {
    color: #004B8F;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 0px;
    margin: 0px;
}
#login .form-group {
    margin-bottom: 15px;
}

#login .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
}
#login .forget {
    font-size: 14px;
    text-align: center;
    display: block;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}

.form-control::-webkit-input-placeholder {
    font-size: 14px;
}

.form-control:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;}

.form-control::-moz-placeholder {  /* Firefox 19+ */
    font-size: 14px;}

.form-control:-ms-input-placeholder {
    font-size: 14px;}
.btn-custom {
    color: #fff;
    background-color: #004B8F;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
footer{
    background-color: #002240;
    bottom: 0;
    box-shadow: 0 -1px 2px #002240;
    height: 45px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
    padding: 15px;
}

footer h2{
    color: #EEEEEE;
    font-size: 14px;
    font-weight: normal;
    display: inline;
}

footer h2 a{
    margin: 0px;
    padding: 0px;
}

.panel{
    border-color: black;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    padding: 2%;
    background-color: rgba(255,255,255, 0.9);
}

.recaptchaWrapper{
    text-align: center;
    margin-bottom: 0;
}

.recaptcha{
    display: inline-block;
}