/*Fonts*/
@font-face {
    font-family: 'proxima-nova';
    src: url(ProximaNova.otf);
}

/*Global CSS*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

.content {
    padding-left: 100px;
    position: relative;
    width: 100%;
    height:100%;
    overflow-y:hidden;
}



#sidebar {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #001f41;
    color: white;
    height: 100%;
    padding: 0;
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    width: 100px;
    z-index: 2;
    float: left;
}

.control-label {
    color: blue;
}

.sidebar-links {
    position: absolute;
    background-color: #004B8F;
    height: auto !important;
    min-height: 100%;
    width: 100%;
}

.sidebar-avatar {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    background-color: #001f41;
}

.navTab {
    border-top: 2px solid #002E79;
}

.sidebar-settings {
    border-top: 2px solid #002E79;
    background-color: #001f41;
    position: absolute;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
}

.navTab a {
    color: #d0d0d0;
}

.navTab li a:hover {
    background-color: #001f41;
}

.navTab .active a,
.navTab .active a:hover {
    color: white;
    background-color: #001f41;
}

p.sidebartext {
    font-size: 12px;
}

.titleBar {
    min-height: 72px;
    max-height: 72px;
    background-color: #004B8F;
    border-bottom: 2px solid #002E79;
    padding: 0;
    margin: 0;
}

.titleBar h2 {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-family: 'proxima-nova', 'Open Sans Condensed', sans-serif;
    line-height: 72px;
    font-weight: 100;
    color: white;
}

/*//css for edit profile///*/

#myformedit {
    position: relative;
    left: 300pt;
    top: -60pt;
    height: 500pt;
    width: 600pt;

}

.mypageHeader {
    position: relative;
    left: 400pt;
    top: 10pt;

}

.myimageforedit {
    position: relative;
    left: -300pt;
    top: 20pt;
    height: 100pt;
    width: 100pt;
}

/*////////////////////////////STATS /////////////////////////////////*/
#display {
    height: 300pt;
    width: 500pt;
    background-color: #78d8de;
}

#contain {
    position: relative;
    left: 300pt;
    top: -20pt;
    height: 400pt;
    width: 500pt;
    background-color: #003b79;
}

label {
    color: #f5f5f5;
}

/*Notification*/
.patientinput {
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
}



#findPatient {
    padding-top: 60px;
}
#findPatient .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#findPatient .form-group {
    margin-bottom: 25px;
}

#findPatient .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
}
#findPatient .forget {
    font-size: 14px;
    text-align: center;
    display: block;
}
#instruct{

    color: #004B8F;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 0px;
    margin: 0px;

}