html, body{width: 100%; height: 100%; overflow: auto;}

.content {
    margin-left: 85px;
}

#sidebar {
    font-family: 'Open Sans';
    text-align: center;
    background-color: #004B8F;
    color: white;
    height: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    z-index: 2;
}
.control-label
{
	color: blue;
}

.sidebar-avatar {
    margin-top: 10px;
    font-size: 10px; 
}

.navTab {
    border-top: 2px solid #002E79;
    margin-top: 100px;
}

.sidebar-settings {
    border-top: 2px solid #002E79;
    background-color: #001f41;
    position: absolute;
    width: 100%;
	height: 20%;
    padding-top: 20px;
    padding-bottom: 50px;
    bottom: 0;
}

.navTab a {
    color: #d0d0d0;
}

.navTab li a:hover {
    background-color: #001f41;
}

.navTab .active a,
.navTab .active a:hover {
    color: white;
    background-color: #001f41;
}
p.sidebartext{
	font-size:20px;
}


/*Login page*/
div.top
{
    height: 30%;
    width: auto;
    background-color: #36648b;
    text-align:center;
    /*background-color: #191970;*/
}

img#kalaLogo
{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

h1#logoHeading
{
    color: #f5f5f5;
}

div.container
{
    color: #f5f5f5;
    width: auto;
    height: 66%;
    background-color: #333333;
}

div.formContent
{
    width: 40%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    border-color: pink;
    padding-top: 2%;
    text-align:center;
}

input.username
{
    width: 50%;
    padding: 2%;
    background-color: black;
}

input.password
{
    width: 50%;
    padding: 2%;
    background-color: black;
}

input.loginBtn
{
    width: 50%;
    padding: 2%;
    background-color: #36648b;
	color: #d8d8d8;
}

input.loginBtn:hover
{
    width: 55%;
}

form.loginForm
{
    white-space:pre;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;


}

div.footer
{
    border: 1px;
    border-top-style:dotted;
    border-top-color: #f5f5f5;
    color: #f5f5f5;
    width: auto;
    height: 4%;
    background-color: #333333;
    text-align: right;
}

a.loginHome
{
    padding: 1%;
    display : inline;
    color: #f5f5f5;
}

a.loginHelp
{
    padding: 1%;
    display : inline;
    color: #f5f5f5;
}



/*Add New User Centre Div*/
.form-centered{
    float: none;
    display: block;
	color: #09C;
    margin-left: auto;
    margin-right: auto;
}
.text-centered{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


::-webkit-input-placeholder {
 font-size: 20px;
 color: #53A6CF;
 text-transform: uppercase;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
:-moz-placeholder { /* older Firefox*/
 font-size:20px;
 color: #53A6CF;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 20px;
 color: #53A6CF; 
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
} 
:-ms-input-placeholder { 
 font-size: 20px; 
 color: #53A6CF;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}

/*//css for add user page///*/

.container-fluids{

	text-align: center;
	background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	margin:auto;
	position:relative;
	width:550px;
	height:450px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color: #09C;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.adduserinput
{
 font-size:20px;
 color: black;
 text-align: center;
 font-weight: bold;
}

img.logo
{
    width: 40%;
}

.biggerheight
{
	height: 50px;
	width: 70px;
}

.backbutton
{
 font-size: 23px;
}
/*//css for edit profile///*/

#myformedit
{
	position:relative;
	left:300pt;
	top: -60pt;
	height: 500pt;
	width: 600pt;    
	
}

.mypageHeader
{
	position:relative;
	left:400pt;
	top: 10pt;
	
}

.myimageforedit
{
position:relative;
	left:-300pt;
	top: 20pt;
	height: 100pt;
	width: 100pt; 
}


/*////////////////////////////STATS /////////////////////////////////*/
#display
{
	height:300pt;
	width: 500pt;
	background-color: #78d8de;
}
	
#contain
{
	position:relative;
	left:300pt;
	top: -20pt;
	height: 400pt;
	width: 500pt;    
	background-color:#004B8F;
}

label{
	color: #f5f5f5;
	}