.col-sm-4_Maria1
{
  position: relative;
  min-height: 10px;
  padding-right: 1px;
  padding-left: 280px;
  float:left;
}

.col-sm-4_Maria2
{
  position: relative;
  min-height: 10px;
  padding-right: 15px;
  padding-left: 30px;
  float:left;
}

.col-sm-4_Maria3
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 10px;
  float:left;
}
/*---------------------------------------------*/
.col-sm-4_Maria4
{
  position: relative;
  min-height: 10px;
  padding-right: 1px;
  padding-left: 500px;
  float:left;
}

.col-sm-4_Maria5
{
  position: relative;
  min-height: 10px;
  padding-right: 15px;
  padding-left: 30px;
  float:left;
}

.col-sm-4_Maria6
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 10px;
  float:left;
}

.col-sm-4_style7
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float:left;
}

/*---------------------------------------------*/
img.imglinks:hover {
    /* Rotate div
    -ms-transform: rotate(7deg); /* IE 9
    -webkit-transform: rotate(7deg); 
    transform: rotate(20deg);
	transition: transform 1000ms ease; */
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.spaceHeader{
	text-align: center;
		margin-right: 0 auto;
        margin-left: 0 auto
}

.headingPims{
	color:#0056A3;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	line-height: 72px;
	margin: 0 0 24px;
}

img.link{
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

img.link:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
	-ms-transform: rotate(7deg); /* IE 9*/
    -webkit-transform: rotate(7deg); 
    transform: rotate(20deg);
	transition: transform 1000ms ease;
} 

.headingPims{
	color:#0056A3;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	line-height: 72px;
	margin: 0 0 24px;
	text-align: center;
}

#content {
  width: 1400px ;
  margin-left: 300px ;
  margin-right: auto ;
}

#content2 {
  width: 1400px ;
  margin-left: 180px ;
  margin-right: auto ;
}

.spaceHeader{
		text-align: center;
		margin-right: 0 auto;
        margin-left: 0 auto
}