img.imglinks:hover {
    /* Rotate div */
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
	transition: transform 1000ms ease;
}

.spaceHeader{
	text-align: center;
		margin-right: 0 auto;
        margin-left: 0 auto
}

.headingPims{
	color:#0056A3;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	line-height: 72px;
	margin: 0 0 24px;
}

.imglabel{
font-size:0.475em;
}


