extends navBar
block append content
doctype html
html(lang='en')
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap')
    link(rel='stylesheet', href='css/adminPimsSpace.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  body
    .container-fluid
      h1.headingPims My PIMS Space
    #myCarousel.carousel.slide.contents(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
      // Wrapper for slides
      .carousel-inner.container
        #content.item.active
          .row
            .col-xs-2
              a(href='#')
                img(src='activities.png')
              h3          My Activities
            .col-xs-2
              a(href='#')
                img(src='forms.png')
              h3               Forms
            .col-xs-2
              a(href='#')
                img(src='tutorial.png')
              h3                Tutorial
            br
            br
            br
        #content2.item
          .row
            .col-xs-2
              img(src='profile.png')
              h3               Profile
            .col-xs-2
              img(src='stats.png')
              h3             Statistics
            .col-xs-2
              img(src='AddUser.png')
              h3             Add user
            .col-xs-2
              img(src='notifications.png')
              h3            Notifications
        // Left and right controls
        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next
