extends ../index
block extFiles
    link(rel='stylesheet', href='/stylesheets/mySpaceStyles/adminPimsSpace.css')
block mainContent
    #myCarousel.carousel(data-interval="10000000000000" data-keyboard="false")
        // Wrapper for slides
        .carousel-inner(role="listbox")
            .item.slideInRight.active
                a(href='#')#activities.hasOptions
                    img.link(src='images/mySpaceIcons/activities.png')
                    h3 My Activities
                div.options.activities
                    div
                        ul.nav.nav-pills.nav-stacked.form-menu
                            li
                                a(href='/#', tabindex='-1') Incomplete Form
                            li
                                a(href='/#', tabindex='-1') Submitted Forms
                a(href='#')#formIcon.hasOptions
                    img.link(src='images/mySpaceIcons/Forms.png')
                    h3  Forms
                div.options.formIcon
                    div
                        ul.nav.nav-pills.nav-stacked.form-menu
                            li
                                a(href='/gynae_surgery.html', tabindex='-1') Gynaecology Surgery
                            li
                                a(href='/addmission_discharge.html', tabindex='-1') Gynaecology Admission and Discharge
                            li
                                a(href='/#', tabindex='-1') Office Hysteroscopy
                            li
                                a(href='#', tabindex='-1') Data Form
                            li
                                a(href='cervical_cancer.html', tabindex='-1') Cervical Cancer
                                a(href='/endometrial_cancer.html', tabindex='-1') Endomentrial Cancer
                                a(href='/fallopian_tube_cancer.html', tabindex='-1') Fallopian Tube Cancer
                                a(href='/oncology_follow_up.html', tabindex='-1') Follow-Up
                                a(href='#', tabindex='-1') Gestational Trophoblastic Disease
                                a(href='#', tabindex='-1') Ovarian Cancer
                                a(href='/vaginal_cancer.html', tabindex='-1') Vaginal Cancer
                                a(href='#', tabindex='-1') Vulva Cancer
                a(href='#')#tutorial.hasOptions
                    img.link(src='images/mySpaceIcons/tutorial.png')
                    h3 Tutorial
                div.options.tutorial
                    div
                        ul.nav.nav-pills.nav-stacked.form-menu
                            li
                                a(href='/#', tabindex='-1') Video
                            li
                                a(href='/#', tabindex='-1') Overlay
                            li
                                a(href='/#', tabindex='-1') User Manual
            .item
                a(href='editProfile')
                    img.link(src='images/mySpaceIcons/profile.png')
                    h3               Profile
                a(href='stats')
                    img.link(src='images/mySpaceIcons/stats.png')
                    h3             Statistics
                a(href='addUser')
                    img.link(src='images/mySpaceIcons/AddUser.png')
                    h3             Add user
                a(href='findPatient')
                    img.link(src='images/mySpaceIcons/notifications.png')
                    h3            Notifications
            // Left and right controls
            a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
            a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next
            script.
                $("a.left.carousel-control").click(left);
                $("a.right.carousel-control").click(right);
                $(window).keyup(function (event) {
                    if (event.which == 37) {
                        leftKey();
                    }
                    if (event.which == 39) {
                        rightKey();
                    }
                });
                function left() {
                    if ($(".item").siblings() > 0) {
                        $(".carousel-control").hide();
                    }
                    $(".item").removeClass("slideInLeft");
                    $(".item.active").addClass("prevo");
                    $(".item.active").addClass("slideInRight");
                    setTimeout(function () {
                        $(".item").removeClass("slideInRight");
                        $(".prevo").removeClass("prevo");
                        $(".item.active").addClass("slideInRight");

                    }, 500)
                }
                function right() {
                    if ($(".item").siblings() > 0) {
                        $(".carousel-control").hide();
                    }
                    $(".item").removeClass("slideInRight");
                    $(".item.active").addClass("prevo");
                    $(".item.active").addClass("slideInLeft");
                    setTimeout(function () {
                        $(".item").removeClass("slideInLeft");
                        $(".prevo").removeClass("prevo");
                        $(".item.active").addClass("slideInLeft");
                    }, 500)
                }
                function rightKey() {
                    if ($(".item").siblings() > 0) {
                        $(".carousel-control").hide();
                    }
                    $(".item").removeClass("slideInRight");
                    $(".item.active").addClass("prevo");
                    $(".item.active").addClass("slideInLeft");
                    setTimeout(function () {
                        $(".item").removeClass("slideInLeft");
                        $(".prevo").removeClass("prevo");
                        if ($(".item.active").next(".item").is(".item")) {
                            $(".item.active").removeClass("active").next().addClass("active").addClass("slideInLeft");
                        } else {
                            $(".item").removeClass("active");
                            $(".item").first().addClass("active").addClass("slideInLeft");
                        }

                    }, 490)
                }
                function leftKey() {
                    if ($(".item").siblings() > 0) {
                        $(".carousel-control").hide();
                    }
                    $(".item").removeClass("slideInLeft");
                    $(".item.active").addClass("prevo");
                    $(".item.active").addClass("slideInRight");
                    setTimeout(function () {
                        $(".item").removeClass("slideInRight");
                        $(".prevo").removeClass("prevo");
                        if ($(".item.active").prev().is(".item")) {
                            $(".item.active").removeClass("active").prev().addClass("active").addClass("slideInRight");
                        } else {
                            $(".item").removeClass("active");
                            $(".item:last-of-type").addClass("active").addClass("slideInRight");
                        }
                    }, 490)
                }
                var lastClicked = null;
                $("#formIcon").click(function (event) {
                    event.preventDefault();
                    rotate("formIcon");
                });
                $("#tutorial").click(function (event) {
                    event.preventDefault();
                    rotate("tutorial");
                });
                $("#activities").click(function (event) {
                    event.preventDefault();
                    rotate("activities");

                });
                function rotate(clas){
                    $("#" + clas + " img").toggleClass("rotate");
                    lastClicked=clas;
                    setTimeout(function () {
                        $("#" + clas).hide();

                        $(".options."+clas).toggleClass("show");
                    }, 0)
                }
                $(".options").mouseleave(function () {
                    var recentlyClicked = lastClicked;
                    $('.options.' + recentlyClicked).addClass("rotate");
                    setTimeout(function () {
                                $(".options." + recentlyClicked).toggleClass("show");
                                $(".options." + recentlyClicked).removeClass("rotate");
                                $("#" + recentlyClicked + " img").toggleClass("rotate");
                                $("#" + recentlyClicked).show();
                            }, 450
                    );

                });