extends navBar
block append content
    div.container
        div.spaceHeader
            h2.headingPims MY PIMS SPACE
        br
        br
        table.table.table-condensed
            thead
                tr
                    th
                        a(href='#')
                            img.imglinks(src='images/mySpaceIcons/activities.png', title='My Activities').col-xs-12.col-lg-6
                    th
                        .dropdown
                            a(href="#", data-toggle="dropdown").dropdown-toggle
                                img.imglinks(src='images/mySpaceIcons/Forms.png', title='Forms').col-xs-12.col-lg-8
                            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                                li
                                    a(href='/gynae_surgery.html', tabindex='-1') Gynaecology Surgery
                                li
                                    a(href='/addmission_discharge.html', tabindex='-1') Gynaecology Admission and Discharge
                                li
                                    a(href='/#', tabindex='-1') Office Hysteroscopy
                                li.divider
                                li
                                    a(href='#', tabindex='-1') Data Form
                                        li.divider
                                li
                                    a(href='cervical_cancer.html', tabindex='-1') Cervical Cancer
                                    a(href='#', tabindex='-1') Endomentrial Cancer
                                    a(href='#', tabindex='-1') Fallopian Tube Cancer
                                    a(href='#', tabindex='-1') Follow-Up
                                    a(href='#', tabindex='-1') Gestational Trophoblastic Disease
                                    a(href='#', tabindex='-1') Ovarian Cancer
                                    a(href='#', tabindex='-1') Vaginal Cancer
                                    a(href='#', tabindex='-1') Vulva Cancer
                        script.
                            $('.dropdown-toggle').dropdown()
                    th
                        a(href='#')
                            img.imglinks(src='images/mySpaceIcons/tutorial.png', title='Tutorial').col-xs-12.col-lg-6