extends ../layout
block content
    nav.navbar.largernav
        .container-fluid
            .navbar-header
                a.nav.navbar-brand(href='/')
                    img(src='images/newlogo.png', width="150px")
            ul.nav.navbar-nav.navbar-right
                li
                    a.spacelinks(href='#') My PIMS Space
                    a.spacelinks(href='#')
                        span.glyphicon.glyphicon-log-out
                        |  Logout