extends ../layout
block content
    nav.navbar.navbar-inverse
        .container-fluid
            .navbar-header
            span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') Pentec PIMS
                ul.nav.navbar-nav
                    li
                        a(href='#') My PIMS Space
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-log-out
                            |  Logout